/*---------------------
	General Styles
	----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;   
}
body {   
	font-family: Georgia, serif;
	color: #999;
}

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}
ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
.btn {
	display: inline-block;
	font-size: 15px;		
	padding: 11px 8px 9px;
	background-color: #3bafbe;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	border: none;	
}
.border {
	border-bottom: 1px solid #e2e2e2;
}

/*---------------------
	Header
----------------------*/
header {
	background-color: #fff;
	border-top: 5px solid #3bafbe;	
}
.header_innerwrapper {
	width: 1000px;
	height: 148px;
	margin: 0 auto;
	display: table;
}
.header_icons {
	width: 400px;	
	display: table-cell;
	padding: 23px 12px;
}
.icon {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	padding: 9px 0;
	text-align: center;
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #1f1f1f;	
}
.socials a:hover {
	position: relative;
	top: -2px;	
}
.socials a.ld_icon i:hover {
	background-color: #0e76a8;
}
.socials a.tw_icon i:hover {
	background-color: #00acee;
}
.socials a.p_icon i:hover {
	background-color: #c8232c; 
}
.socials a.gp_icon i:hover {
	background-color: #db4a39;
}
.socials a.rss_icon i:hover {
	background-color: #ee802f;
}
.logo {
	margin: 22px 0 0 8px;	
	line-height: 23px;
}
.logo h1 {
	font-size: 32px;
	color: #4a4a4a;		
}
.logo p {
	font-size: 12px;	
}
.header_menu {
	width: 600px;	
	display: table-cell;	
}
.header_menu form {
	text-align: right;
	margin-right: 60px;	
}
.search {
	background-color: #333;
	color: #fff;	
	width: 217px;	
	padding: 10px 9px;
	font-size: 12px;	
	border-radius: 8px;
	border: none;
	outline: none;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;		
}
.search::-webkit-input-placeholder {
	color: #fff;
}
.header_menu form input[type="search"]:focus {
	width: 350px;
}
.header_menu form input[type="submit"] {
	font-size: 12px;
}
nav ul {
	padding: 40px;		
}
nav ul li {
	display: inline-block;	
}
nav ul li a {
	margin-left: 11px;
	color: #999;
	font-size: 13px;	
	text-transform: uppercase;
}
nav ul li a:hover {
	color: #3bafbe;
}

/*---------------------
	Slider
----------------------*/
.slider {
	background-color: #fff;
}
.slider_innerwrapper {
	width: 1000px;
	height: 417px;
	margin: 0 auto;	
}
.slider_image {	
	width: 450px;
	height: 417px;
	padding: 37px 21px;
	float: left;
}
.slider_image img {
	width: 398px;
	height: 317px;
}
.slider_content {
	width: 550px;
	height: 417px;	
	padding: 96px 35px;
	float: right;	
}
.slider_text p:first-child {
	margin-bottom: 12px;
	color: #4a4a4a;
	font-size: 42px;
}
.slider_text p:last-child {	
	font-size: 16px;	
}
.slider_text span {	
	margin-top: 40px;		
}
.dot_wrap {
	margin-top: 48px;
	margin-right: -11px;
	text-align: right;
}
.dot {	
	display: inline-block;
	width: 15px;
	height: 15px; 
	margin: 0 1px;
	border-radius: 50%;
	background-color: #3bafbe;  
	cursor:pointer;  
}
.active {
	border: 3px solid #3bafbe;
	background-color: #fff;
	cursor: default; 
}

/*---------------------
	Intro
----------------------*/
.intro {
	background-color: #fff;
}
.intro_innerwrapper {
	width: 1000px;
	height: 454px;
	margin: 0 auto;
	padding-top: 38px;	
}
.intro_image {
	width: 300px;
	height: 454px;
	float: left;
	margin-left: 22px;
}
.intro_image img {
	width: 300px;
	height: 160px;
}
.intro_image h5 {
	margin-top: 25px;
	margin-bottom: 20px;
	color: #4a4a4a;
}
.intro_image p {
	font-size: 13px;
	line-height: 20px;
}
.intro_image span {
	margin-top: 18px;
	font-size: 13px;
}

/*---------------------
	Services
----------------------*/
.services {
	background-color: #fff;
}
.services_innerwrapper {
	width: 1000px;
	height: 420px;
	margin: 0 auto;
}
.services_title {
	width: 760px;
	margin: 0 auto;	
	font-size: 22px;
	color: #666;
	text-align: center;
}
.gallery {
	margin: 10px 17px;	
}
.gallery_image {
	width: 300px;
	height: 90px;
	margin: 40px 5px 4px;
	float: left;	
}
.gallery_image img {
	width: 90px;
	height: 90px;
	float: left;	
	border: 1px solid #d8d8d8;
    padding: 4px;
}
.gallery_text {
	width: 198px;
	line-height: 20px;
	float: right;	
}
.gallery_text h6 a {
	font-size: 13px;
	color: #3bafbe;
}
.gallery_text p {
	font-size: 12px;
	color: #848c92;
}

/*---------------------
	Contact
----------------------*/
.contact {
	background-color: #252525;
}
.contact_innerwrapper {
	width: 1000px;
	height: 260px;
	margin: 0 auto;
}
.contact_section {
	width: 250px;
	height: 260px;
	padding-left: 13px;
	font-size: 12px;
	float: left;
}
.contact_sectiontitle {
	margin-bottom: 15px;
	font-size: 20px;
	color: #fff;
	padding: 28px 0 13px;
}
.details ul li {
	line-height: 20px;
}
.details ul li a {
	color: #3bafbe;
}
.links ul li:not(:first-child) {
	border-bottom: 1px solid #2c2c2c;
	line-height: 23px;
}
.links ul li a {
	color: #3bafbe;
}
.blog_title {
	font-size: 13px;
}
.blog_author {
	font-size: 11px;
}
.blog p {
	width: 204px;
	text-align: justify;	
	line-height: 20px;
}
.blog span {
	color: #3bafbe;
	float: right;
	margin: 11px 22px;
	cursor: pointer;	
}
.news input {
	display: block;
}
.input {
	max-width: 271px;
	margin: 10px 2px;
	padding: 10px;
	font-size: 13px;
	color: #989898;
	background-color: #2c2c2c;
	border: none;
	outline: none;
	border-radius: 8px;
}
.news input[type="submit"] {
	font-size: 13px;
	padding: 9px 21px;
}

/*---------------------
	Footer
----------------------*/
footer {
	background-color: #1a1a1a;
}
.footer_innerwrapper {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	padding: 20px;
	font-size: 12px;	
}
.copyright {
	float: left;
}
.author {
	float: right;
	margin-right: 30px;	
}